<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dango - Aprenda Japonês</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href="/" id="logo">
            <img src="{{ url_for('static', filename='img/dangu.png') }}"
                 width="200" alt="Dango Logo">
        </a>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>